/* إلغاء الهامش وإخفاء ماوس النظام */
* {
    margin: 0;
    padding: 0;
    cursor: none !important;
}

body {
    background: #000000;
    font-family: "VT323", monospace;
    color: #00b4ff;
    overflow: hidden;
}

/* خلفية ماتريكس */
#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* المؤشر (+) */
.cursor {
    width: 25px;
    height: 25px;
    color: #00b4ff;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    font-size: 40px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}
.cursor::before {
    content: "+";
}

/* المحتوى */
.hero {
    text-align: center;
    margin-top: 60px;
    position: relative;
    z-index: 10;
}

.center-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #00b4ff;
    margin-bottom: 20px;
}

.name {
    font-size: 50px;
}

.bio {
    width: 80%;
    max-width: 600px;
    margin: auto;
    font-size: 22px;
}

/* المهارات */
.skills {
    margin-top: 40px;
}

.skills h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

/* عنصر المهارة */
.skill {
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    text-align: left;
    font-size: 24px;
}

.bar {
    width: 100%;
    background: #002233;
    border: 2px solid #00b4ff;
    margin-top: 5px;
    height: 18px;
}

.bar div {
    height: 100%;
    background: #00b4ff;
}
